<div class="slider card">
  <div class="slide-track">
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/apache/apache-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/babel/babel-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/centos/centos-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/chrome/chrome-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/codepen/codepen-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/d3js/d3js-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/electron/electron-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/handlebars/handlebars-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/ie10/ie10-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/intellij/intellij-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/msdos/msdos-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nodewebkit/nodewebkit-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/redhat/redhat-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/selenium/selenium-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/socketio/socketio-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/subversion/subversion-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/storybook/storybook-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/tomcat/tomcat-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vim/vim-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/webpack/webpack-original.svg" />
    </div>
    <!-- 착시 영역 -->
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/apache/apache-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/babel/babel-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/centos/centos-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/chrome/chrome-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/codepen/codepen-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/d3js/d3js-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/electron/electron-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/handlebars/handlebars-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/ie10/ie10-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/intellij/intellij-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/msdos/msdos-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/nodewebkit/nodewebkit-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/redhat/redhat-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/selenium/selenium-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/socketio/socketio-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/subversion/subversion-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/storybook/storybook-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original-wordmark.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/tomcat/tomcat-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vim/vim-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
    </div>
    <div class="slide">
      <img src="//cdn.jsdelivr.net/gh/devicons/devicon/icons/webpack/webpack-original.svg" />
    </div>
  </div>
</div>
<style>
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  align-items: center;
  width: calc(100px * 116);
}
.slider:hover .slide-track {
  animation-play-state: paused;
}
.slider .slide {
  height: 100px;
  width: 100px;
  text-align: center;
}
.slider .slide img {
  width: 64px;
}
</style>
