---
const since = new Date().getFullYear() - 2009
---
<style>
  .ptvh {
    padding-top: 25vh;
  }
</style>
<div class="bg-gray-700 text-white text-center pb-40 ptvh">
  <h3 class="text-3xl mb-4 font-bold">안녕하십니까. 프리랜서 양욱진입니다</h3>
  <p>2009년 이례로 {since}년동안 여러 비즈니스 어플리케이션을 개발헤 왔습니다.</p>
  <p>상주 및 비상주 프로젝트를 경험해 오며 계획된 업무를 차질없이 마친 바 있습니다.</p>
  <p>이 경험은 귀하의 비즈니스에 맞는, 웹 어플리케이션에 나타날 얼굴과 표정이 될 것입니다.</p>
</div>
