
<ul class="card flex flex-wrap justify-between items-center h-full">
  <li>
    <h5 class="text-4xl">경력년수</h5>
    <h6 class="text-3xl font-bold">13년</h6>
  </li>
  <li>
    <h5 class="text-4xl">프로젝트</h5>
    <h6 class="text-3xl font-bold">17건</h6>
  </li>
  <li>
    <h5 class="text-4xl">최대근속</h5>
    <h6 class="text-3xl font-bold">4년</h6>
  </li>
  <li>
    <h5 class="text-4xl">보유기술</h5>
    <h6 class="text-3xl font-bold">풀스택</h6>
  </li>
</ul>
