<article>
  <h3 class="text-2xl font-bold mb-4">아키텍처</h3>
  <p>귀하의 업무에 맞는 웹 앱 아키텍쳐는 여기에 있습니다.</p>
  <dl>
    <dt>컨설팅 업무</dt>
    <dd>
      <ul>
        <li>프레임워크 구축</li>
        <li>데이터 설계</li>
        <li>공통업무 개발</li>
        <li>배포 자동화</li>
      </ul>
    </dd>
    <dt>인프라스트럭처</dt>
    <dd>
      <ul>
        <li>귀하의 서버</li>
        <li>아마존 웹 서비스</li>
        <li>애저 웹 서비스</li>
        <li>Github</li>
        <li>Gitlab</li>
      </ul>
    </dd>
  </dl>
</article>
