<article>
  <h3 class="text-2xl font-bold mb-4">백엔드 개발</h3>
  <p>비즈니스에서 요구하는 업계 표준을 위해 노력하였습니다.</p>
  <dl>
    <dt>개발 가능한 언어</dt>
    <dd>Spring(boot), NestJS</dd>
    <dt>저장 가능한 데이터베이스</dt>
    <dd>
      <ul>
        <li>MySQL (MariaDB)</li>
        <li>PostgreSQL</li>
        <li>Microsoft SQL Server</li>
        <li>Oracle</li>
        <li>MongoDB</li>
        <li>Redis</li>
      </ul>
    </dd>
    <dt>사용하는 도구</dt>
    <dd>
      <ul>
        <li>IntelliJ IDEA</li>
      </ul>
    </dd>
  </dl>
</article>
