<ul class="menu">
  <li><a href="/profile"><span>프로필 관리</span></a></li>
  <li><a href="/experience"><span>경력 관리</span></a></li>
  <li><a href="/portfolio"><span>포트폴리오 관리</span></a></li>
  <li><a href="/contact"><span>연락 관리</span></a></li>
</ul>
<style>
  /* .menu > li {
    @apply mb-4;
    transform: scale(1.08);
    transform-origin: top left;
    filter: drop-shadow(2px 0 2px rgba(0, 0, 0, 0.5));
  } */
  .menu > li > a {
    @apply block relative p-4 bg-no-repeat;
    z-index: 1;
  }
  .menu > li > a > span {
    @apply bg-no-repeat;
    background-image: linear-gradient(to right, white 0%, white 1%, black 1%);
    background-position: 0% 0%;
    background-size: 25000%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: background-size 250ms;
  }
  .menu > li > a:hover > span {
    background-size: 100%;
    background-position: 0% 0%;
  }
  .menu > li > a::before {
    @apply block absolute left-0 top-0 bottom-0 right-0;
    content: "";
    background-image: linear-gradient(110deg, theme('colors.slate.800'), theme('colors.slate.800') 90%, theme('colors.yellow.300') 90%, theme('colors.yellow.300') 92%);
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    z-index: -1;
  }
  .menu > li.active > a::before {
    background-image: linear-gradient(110deg, theme('colors.slate.600'), theme('colors.slate.600') 90%, theme('colors.yellow.300') 90%, theme('colors.yellow.300') 92%);
  }
  .menu > li > a::after {
    @apply block absolute left-0 top-0 bottom-0 right-0;
    content: "";
    clip-path: polygon(100% 0%, 100% 0%, 92% 100%, 92% 100%);
    background-image: linear-gradient(110deg, transparent, transparent 8%, theme('colors.yellow.300') 8%, theme('colors.yellow.300') 92%, transparent 92%);
    transition: clip-path 250ms;
    z-index: -1;
  }
  .menu > li > a:hover::after {
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
  }
</style>
