<figure class="block text-center my-4">
  <img src="/profile.jpg" alt="Profile" class="rounded-full border-white border-4 w-1/2 mx-auto" />
  <figcaption>
    <h5>Ukjin Yang</h5>
  </figcaption>
</figure>
