---
import TopPrepare from '~/components/contact/TopPrepare';
import LangBadges from '~/components/contact/LangBadges.svelte';
import MySelf from '~/components/profile/MySelf.astro';
import MySkills from '~/components/profile/MySkills.astro';
import ExpTimeline from '~/components/table/ExpTimeline.vue';
import Intro from '~/components/typical/Intro.astro';
import StickyStart from '~/components/typical/StickyStart.svelte';
import Root from '~/layouts/Root.astro';
import { titleState } from '~/store/ui';
import BusinessCard from '~/components/contact/BusinessCard';

titleState.set('컴내꺼')
---
<Root>
  <Intro />
  <StickyStart client:only="svelte">
    <MySelf />
    <MySkills />
    <ExpTimeline />
  </StickyStart>
  <TopPrepare>
    <div class="overflow-hidden absolute top-0 left-0 right-0 bottom-0 opacity-30 grid grid-flow-row items-center gap-4">
      <LangBadges />
      <LangBadges reverse />
      <LangBadges inverse />
    </div>
  </TopPrepare>
  <BusinessCard />
</Root>
<style>
</style>
