---
import '~/style/main.css'
import { titleState } from '../store/ui';
const title = titleState.get() ?? ''

---

<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - comne.kr</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E7NSC79MPQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E7NSC79MPQ');
    </script>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/@fontsource/nunito@4.5.11/index.css'>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
  html,body {
    min-width: 100vw;
    min-height: 100vh;
  }
</style>
